.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {

    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect (0 0 0 0);
    overflow: hidden;
}

/* BODY */

body {
    font-family: "TimesNewRomanPSMT", "Times New Roman", sans-serif;

    font-size: 24px;
    color: rgba(39, 61, 70, 0.8);

    background-color: #e8e8e8;
    background: #e8e8e8 url("../img/bg.png") 50% 135px no-repeat;
}




.content {
    width: 841px;
    margin: 0 auto;
    padding: 168px 0 137px 0;
}

.content__header {
    margin: 0 0 62px 0;
}

.header {
    color: #273d46;
    text-align: center;
}

.header__subtitle {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    margin: 0 0 15px -7px;
}

.header__title {
    font-size: 36px;
    max-width: 725px;
    line-height: 50px;
    margin: 0 auto;
}

.main__image {
    margin: 0 0 88px 0;
}

.main__image-item {
    box-shadow: 0px 15px 65px 0px rgba(15, 16, 16, 0.15);
    background-color: white;
    padding: 10px;
}

.main__image-item img {
    max-width: 100%
}


.main__text {
    font-size: 24px;
    line-height: 40px;
    color: #4d5f66;
}

.text {
    width: 740px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.text__item {
    margin: 0 0 40px -5px;
}

.text__item:last-child {
    margin: 0 0 0px -5px;
}

.main__info {
    margin: 0 0 0 42px;
}


.info__list {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 20px;
    line-height: 36px;
}

.list {
    margin: 0 0 50px 0px;
}

.list__item {
    background: url('../img/icons/check.png') left no-repeat;
    padding-left: 35px;
    color: #273d46;
}

.list__item:nth-child(1) {
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);

}

.list__item:nth-child(2) {
    font-style: italic;
    color: #80b7b3;
}

.list__item:nth-child(3) {
    font-weight: 700;
}

.list__item:nth-child(4) span {
    text-decoration: line-through;
    opacity: 0.3;
}


.info__button span {
    padding: 0 0 0 30px;
    background: url('../img/icons/arrow.svg') right no-repeat;
}

/* BUTTON */

.button {
    display: inline-block;
    padding: 0px 27px 15px 30px;
    width: 199px;
    height: 44px;
    background-color: #80b7b3;
    box-shadow: 5px 5px 1px rgba(0, 0, 0, 0.5);
    border-radius: 20px;

    font-family: Arial;
    font-size: 14px;
    line-height: 40px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #ffffff;
}

.button:hover,
.button:focus {
    background-color: #4c1e21; 
}

button:active {
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5);
    position: relative;
    top: 3px;
    
}

button:disabled {
    cursor: default;
    opacity: 0.5;
    background-color: #000000;
}